.sub {
	font-size: 15px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
	padding-left: 15px;
	padding-top: 20px;
}

.image {
	width: 150px;
	height: 150px;
}

.visual {
	font-size: 0.8em;
	padding-top: 10px;
}

.judul {
	font-size: 1em;
	padding-top: 40px;
}

ion-content{
	margin: 20px;
	padding: 20px
}